Paths
  Home
  Saves: $EMULATOR_MAIN_ROOT/Ares/windows/Saves/
  Screenshots: $EMULATOR_MAIN_ROOT/Ares/windows/Screenshots/
ColecoVision
  Path
  Firmware
    BIOS.World: $EMULATOR_MAIN_ROOT/Ares/windows/Bios/colecovision.rom
PCEngineCD
  Path
  Firmware
    BIOS.US: $EMULATOR_MAIN_ROOT/Ares/windows/Bios/syscard3u.pce
    BIOS.Japan: $EMULATOR_MAIN_ROOT/Ares/windows/Bios/syscard3j.pce
MegaCD
  Path
  Firmware
    BIOS.US: $EMULATOR_MAIN_ROOT/Ares/windows/Bios/bios_CD_U.bin
    BIOS.Japan: $EMULATOR_MAIN_ROOT/Ares/windows/Bios/bios_CD_J.bin
    BIOS.Europe: $EMULATOR_MAIN_ROOT/Ares/windows/Bios/bios_CD_E.bin
