Scripts/ext/3DSRomTool/**
Scripts/ext/7-Zip/**
Scripts/ext/AppImageTool/**
Scripts/ext/CDecrypt/**
Scripts/ext/CtrTool/**
Scripts/ext/ExifTool/**
Scripts/ext/ExtractXIso/**
Scripts/ext/FFMpeg/**
Scripts/ext/GeckoDriver/**
Scripts/ext/HacTool/**
Scripts/ext/Ludusavi/**
Scripts/ext/MameTools/**
Scripts/ext/NDecrypt/**
Scripts/ext/NirCmd/**
Scripts/ext/Pegasus/**
Scripts/ext/Pkg2AppImage/**
Scripts/ext/PowerISO/**
Scripts/ext/PS3Dec/**
Scripts/ext/PSVStrip/**
Scripts/ext/RClone/**
Scripts/ext/Sunshine/**
Scripts/ext/Wad2Bin/**
Scripts/ext/XCICutter/**
Scripts/ext/XexTool/**
Scripts/lib/configprivate.py
Scripts/lib/thirdparty/DXVK/**
Scripts/lib/thirdparty/VKD3D-Proton/**
*.pyc
