[submodule "Scripts/ext/Pegasus/windows/config/themes/PegasusThemeGrid"]
	path = Scripts/ext/Pegasus/windows/config/themes/PegasusThemeGrid
	url = https://github.com/NearlyTRex/PegasusThemeGrid.git
[submodule "Scripts/ext/Pegasus/linux/config/themes/PegasusThemeGrid"]
	path = Scripts/ext/Pegasus/linux/config/themes/PegasusThemeGrid
	url = https://github.com/NearlyTRex/PegasusThemeGrid.git
