[UserData.Dirs]
local_cache_dir = %%USERPROFILE%%\Cache
remote_cache_dir = Y:\
sync_dir = %%USERPROFILE%%\Sync
storage_dir = X:\
scripts_dir = C:\Repositories\JoyBox\Scripts
tools_dir = C:\Repositories\JoyBox\Tools
emulators_dir = C:\Repositories\JoyBox\Emulators
metadata_dir = C:\Repositories\GameMetadata

[UserData.NAS]
nas_base_location =
nas_storage_folder =
nas_cache_folder =
nas_username =
nas_password =

[UserData.Resolution]
screen_resolution_w = 1920
screen_resolution_h = 1080
screen_resolution_c = 32

[UserData.Flags]
verbose = True
exit_on_failure = True
fullscreen = True
keep_setup_files = False

[UserData.Capture]
capture_type = none
capture_duration = 300
capture_interval = 1
capture_origin_x = 0
capture_origin_y = 0
capture_resolution_w = 1920
capture_resolution_h = 1080
capture_framerate = 30
overwrite_screenshots = False
overwrite_videos = False

[UserData.Steam]
steam_username = SemiDiabolicalParka
steam_userid = 76561198286525102

[UserData.Switch]
profile_user_id = F6F389D41D6BC0BDD6BD928C526AE556
profile_account_name = yuzu

[Tools.WinGet]
winget_exe = winget.exe
winget_install_dir = %%USERPROFILE%%\AppData\Local\Microsoft\WindowsApps

[Tools.Python]
python_exe = python.exe
python_pip_exe = pip.exe
python_install_dir = C:\Python311
python_venv_dir = %%USERPROFILE%%\.venv

[Tools.Perl]
perl_exe = perl.exe
perl_install_dir = C:\Strawberry\perl\bin

[Tools.Sandboxie]
sandboxie_exe = Start.exe
sandboxie_ini_exe = SbiIni.exe
sandboxie_rpcss_exe = SandboxieRpcSs.exe
sandboxie_dcomlaunch_exe = SandboxieDcomLaunch.exe
sandboxie_install_dir = %%ProgramFiles%%\Sandboxie-Plus
sandboxie_sandbox_dir = %%USERPROFILE%%\Sandbox\%%USERNAME%%

[Tools.Curl]
curl_exe = curl.exe
curl_install_dir = C:\Windows\System32

[Tools.Git]
git_exe = git.exe
git_install_dir = %%ProgramFiles%%\Git\bin

[Tools.7Zip]
7z_exe = 7z.exe
7z_install_dir = %%ProgramFiles%%\7-Zip

[Tools.Firefox]
firefox_exe = firefox.exe
firefox_install_dir = %%ProgramFiles%%\Mozilla Firefox
