[UserData.Dirs]
local_cache_dir = %%USERPROFILE%%\Cache
remote_cache_dir = Y:\
sync_dir = %%USERPROFILE%%\Sync
storage_dir = X:\
scripts_dir = C:\Repositories\JoyBox\Scripts
tools_dir = C:\Repositories\JoyBox\Tools
emulators_dir = C:\Repositories\JoyBox\Emulators
metadata_dir = C:\Repositories\JoyBox\Metadata

[UserData.NAS]
nas_base_location =
nas_storage_folder =
nas_cache_folder =
nas_username =
nas_password =

[UserData.Resolution]
screen_resolution_w = 1920
screen_resolution_h = 1080
screen_resolution_c = 32

[UserData.Flags]
verbose = True
exit_on_failure = True
fullscreen = True
keep_setup_files = False

[UserData.Capture]
capture_type = none
capture_duration = 300
capture_interval = 1
capture_origin_x = 0
capture_origin_y = 0
capture_resolution_w = 1920
capture_resolution_h = 1080
capture_framerate = 30
overwrite_screenshots = False
overwrite_videos = False

[UserData.Steam]
steam_username =
steam_userid =

[UserData.Switch]
profile_user_id =
profile_account_name =

[Tools.Python]
python_exe = python
python_pip_exe = pip
python_install_dir = C:\Python311
python_venv_dir = %%USERPROFILE%%\.venv

[Tools.Sandboxie]
sandboxie_exe = Start
sandboxie_ini_exe = SbiIni
sandboxie_rpcss_exe = SandboxieRpcSs
sandboxie_dcomlaunch_exe = SandboxieDcomLaunch
sandboxie_install_dir = %%ProgramFiles%%\Sandboxie-Plus
sandboxie_sandbox_dir = %%USERPROFILE%%\Sandbox\%%USERNAME%%

[Tools.Curl]
curl_exe = curl
curl_install_dir = C:\Windows\System32

[Tools.Git]
git_exe = git
git_install_dir = %%ProgramFiles%%\Git\bin

[Tools.7Zip]
7z_exe = 7z
7z_install_dir = %%ProgramFiles%%\7-Zip

[Tools.Firefox]
firefox_exe = firefox
firefox_install_dir = %%ProgramFiles%%\Mozilla Firefox
