[UserData.Dirs]
local_cache_dir = $HOME/Cache
remote_cache_dir = /mnt/Cache
sync_dir = $HOME/Sync
storage_dir = /mnt/Storage
scripts_dir = $HOME/Repositories/JoyBox/Scripts
tools_dir = $HOME/Repositories/JoyBox/Tools
emulators_dir = $HOME/Repositories/JoyBox/Emulators
metadata_dir = $HOME/Repositories/JoyBox/Metadata

[UserData.NAS]
nas_base_location =
nas_storage_folder =
nas_cache_folder =
nas_username =
nas_password =

[UserData.Resolution]
screen_resolution_w = 1920
screen_resolution_h = 1080
screen_resolution_c = 32

[UserData.Flags]
verbose = True
exit_on_failure = True
fullscreen = True
keep_setup_files = False

[UserData.Capture]
capture_type = none
capture_duration = 300
capture_interval = 1
capture_origin_x = 0
capture_origin_y = 0
capture_resolution_w = 1920
capture_resolution_h = 1080
capture_framerate = 30
overwrite_screenshots = False
overwrite_videos = False

[UserData.Steam]
steam_username =
steam_userid =

[UserData.Switch]
profile_user_id =
profile_account_name =

[Tools.Python]
python_exe = python3
python_pip_exe = pip3
python_install_dir = /usr/bin
python_venv_dir = $HOME/.venv

[Tools.Wine]
wine_exe = wine
wine_boot_exe = wineboot
wine_server_exe = wineserver
wine_tricks_exe = winetricks
wine_install_dir = /usr/bin
wine_sandbox_dir = $HOME/Sandbox

[Tools.Curl]
curl_exe = curl
curl_install_dir = /usr/bin

[Tools.Git]
git_exe = git
git_install_dir = /usr/bin

[Tools.7Zip]
7z_exe = 7z
7z_install_dir = /usr/bin

[Tools.Firefox]
firefox_exe = firefox
firefox_install_dir = /usr/bin
