[BIOS]
SearchDirectory = $EMULATOR_MAIN_ROOT/DuckStation/linux/DuckStation.AppImage.home/.config/duckstation/bios

[MemoryCards]
Card1Type = PerGameTitle
Card2Type = None
UsePlaylistTitle = true
Directory = $GAME_SAVE_DIR

[Folders]
Cache = $EMULATOR_MAIN_ROOT/DuckStation/linux/DuckStation.AppImage.home/.config/duckstation/cache
Cheats = $EMULATOR_MAIN_ROOT/DuckStation/linux/DuckStation.AppImage.home/.config/duckstation/cheats
Covers = $EMULATOR_MAIN_ROOT/DuckStation/linux/DuckStation.AppImage.home/.config/duckstation/covers
Dumps = $EMULATOR_MAIN_ROOT/DuckStation/linux/DuckStation.AppImage.home/.config/duckstation/dump
GameSettings = $EMULATOR_MAIN_ROOT/DuckStation/linux/DuckStation.AppImage.home/.config/duckstation/gamesettings
InputProfiles = $EMULATOR_MAIN_ROOT/DuckStation/linux/DuckStation.AppImage.home/.config/duckstation/inputprofiles
SaveStates = $EMULATOR_MAIN_ROOT/DuckStation/linux/DuckStation.AppImage.home/.config/duckstation/savestates
Screenshots = $EMULATOR_MAIN_ROOT/DuckStation/linux/DuckStation.AppImage.home/.config/duckstation/screenshots
Shaders = $EMULATOR_MAIN_ROOT/DuckStation/linux/DuckStation.AppImage.home/.config/duckstation/shaders
Textures = $EMULATOR_MAIN_ROOT/DuckStation/linux/DuckStation.AppImage.home/.config/duckstation/textures
