Paths
  Home
  Saves: $EMULATOR_MAIN_ROOT/Ares/linux/Ares.AppImage.home/.local/share/ares/Saves/
  Screenshots: $EMULATOR_MAIN_ROOT/Ares/linux/Ares.AppImage.home/.local/share/ares/Screenshots/
ColecoVision
  Path
  Firmware
    BIOS.World: $EMULATOR_MAIN_ROOT/Ares/linux/Ares.AppImage.home/.local/share/ares/Bios/colecovision.rom
PCEngineCD
  Path
  Firmware
    BIOS.US: $EMULATOR_MAIN_ROOT/Ares/linux/Ares.AppImage.home/.local/share/ares/Bios/syscard3u.pce
    BIOS.Japan: $EMULATOR_MAIN_ROOT/Ares/linux/Ares.AppImage.home/.local/share/ares/Bios/syscard3j.pce
MegaCD
  Path
  Firmware
    BIOS.US: $EMULATOR_MAIN_ROOT/Ares/linux/Ares.AppImage.home/.local/share/ares/Bios/bios_CD_U.bin
    BIOS.Japan: $EMULATOR_MAIN_ROOT/Ares/linux/Ares.AppImage.home/.local/share/ares/Bios/bios_CD_J.bin
    BIOS.Europe: $EMULATOR_MAIN_ROOT/Ares/linux/Ares.AppImage.home/.local/share/ares/Bios/bios_CD_E.bin
Hotkey
  ToggleFullscreen: 0x1/0/0;;
  ToggleMouseCapture: ;;
  ToggleKeyboardCapture: ;;
  FastForward: ;;
  ToggleFastForward: ;;
  Rewind: ;;
  FrameAdvance: ;;
  CaptureScreenshot: ;;
  SaveState: ;;
  LoadState: ;;
  DecrementStateSlot: ;;
  IncrementStateSlot: ;;
  PauseEmulation: ;;
  ResetSystem: ;;
  ReloadCurrentGame: ;;
  QuitEmulator: ;;
  MuteAudio: ;;
  IncreaseAudio: ;;
  DecreaseAudio: ;;
