#
# CORE SEARCH PATH OPTIONS
#
homepath                  $HOME/.mame
rompath                   $HOME/.mame/roms
hashpath                  $HOME/.mame/hash
samplepath                $HOME/.mame/samples
artpath                   $HOME/.mame/artwork
ctrlrpath                 $HOME/.mame/ctrlr
inipath                   $HOME/.mame;$HOME/.mame/ini
fontpath                  $HOME/.mame
cheatpath                 $HOME/.mame/cheat
crosshairpath             $HOME/.mame/crosshair
pluginspath               $HOME/.mame/plugins
languagepath              $HOME/.mame/language
swpath                    $HOME/.mame/software

#
# CORE OUTPUT DIRECTORY OPTIONS
#
cfg_directory             $HOME/.mame/cfg
nvram_directory           $HOME/.mame/nvram
input_directory           $HOME/.mame/inp
state_directory           $HOME/.mame/sta
snapshot_directory        $HOME/.mame/snap
diff_directory            $HOME/.mame/diff
comment_directory         $HOME/.mame/comments
share_directory           $HOME/.mame/share
